*{
    margin: 0;
    padding: 0;
}
ul div{
  width: 170px;
  height: 200px;
  background:  url(1-removebg-preview.png);
  opacity: 0.5;
  background-position: cover;
  background-size: cover;
  margin-bottom: 20%;

}
.sidenavbar{
    background-color: #222;
    width: 170px;
    height: 100vh;
    position: fixed;
}
a{
    color: white;
    text-decoration: none;
}
ul li{
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li.active{
    background-color: black;

}
 ul li:hover{
    background-color: black;
 }

.firstpage{
    background: url(1-removebg-preview.png);
    height: 200vh;
    background-position: cover;
    background-size: cover;
}
.firstpage h1,.firstpage p{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
   
}
.firstpage h1{
    font-size: 50px;
    padding-top: 10%;

}
.secondpage{
    height: 100vh;
    background-color: black;
}
.secondpage h1{
    color: white;
    text-transform: uppercase;
    margin-left: 20%;
}
.secondpage p{
    margin-left: 19%;
    width: 70%;
    box-sizing: border-box;
    color: whitesmoke;
    text-transform: uppercase;
}
.second-content h2{
    margin-left: 20%;
    text-transform: uppercase;
    color: whitesmoke;
    padding-top: 5%;
}
.second-content p{
    margin-right: 60%;
}
.a{
    background-color:white;
    height: 28px;
    width: 45%;
    margin-left: 25%;

}
.b{
    background-color: #222;
    height: 28px;
    width: 95%;
}
.buissnes{
  padding-left: 5%;
}
.c{
    background-color: whitesmoke;
    height: 28px;
    width: 45%;
    margin-left: 25%;

}
.d{
    background-color: #222;
    height: 28px;
    width: 75%;
}
.e{
    background-color: whitesmoke;
    height: 28px;
    width: 45%;
    margin-left: 25%;

}
.f{
    background-color: #222;
    height: 28px;
    width: 70%;
}
.third-content{
    background-color: #222;
    height: 20%;
    width: 60%;
    margin-left: 25%;
   
  
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 25px;
    padding-top: 3%;
}
button{
    margin-top: 5%;
    background-color: #222;
    border: none;
    color: whitesmoke;
    width: 150px;
    height: 50px;

}
.problem{
    background-color: black;
}
.forth-page{
    height: 570vh;
    background-color: black;
}
.forth-page h2{
    margin-left: 20%;
    font-size: 30px;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
    color: white;
   
}
.box-container{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20%;
}
.box1{
    height: 65vh;
    width: 40%;
 
}
.box2{
    height: 65vh;
    width: 40%;
   
}
.head h1{
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 5%;
    font-family: 'Courier New', Courier, monospace;
}
.head{
    background-color: #222;
    height: 20%;
    width: 100%;
}
.u{
    background-color: gray;
}
.s{
    background-color: white;
    color: #222;
}
.money{
    background-color: darkgrey;
    height: 70px;
}

.button-container{
    background-color: grey;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.btn{
    margin-left: -1%;
}
.recomendation h1{
    color: white;
    padding-top: 5%;
    margin-left: 20%;
    text-transform: uppercase;
}
.circle-container{
    margin-left: 20%;
    padding-top: 10px;
}
.circle1{
    height: 100px;
    width: 100px;
    background: url(gallery-4.jpg) ;
    background-position: center;
    background-size: cover;

    border-radius: 100%;
    margin-top: 5%;
}
.circle2{
    height: 100px;
    width: 100px;
    background: url(kamal.jpg) ;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 5%;
    
}
.circle3{
    height: 100px;
    width: 100px;
    background: url(IMG-20220930-WA0051.jpg) ;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 5%;
}
.content1{
    color: white;

}
.content2{
    color: white;

}
.content3{
    color: white;

}
pre{
    text-transform: capitalize;
}
 .shoes{
    margin-left: 12%;
  
}
.shoes h1{
    text-transform: capitalize;
    color: white;
    margin-left: 10%;
}
.grid{
    height: 200vh;
    width: 70% ;
    border: 2px solid white;
    display: flex;
    margin: auto;
    margin-top: 70px;
}

 
.lastpage{
    background-color: black;
    height: 140vh;
    padding-left: 20%;
}
.lastpage h1{
    text-transform: capitalize;
    color: white;
}
.contacts{
    text-transform: capitalize;  
}

@media only screen and (max-width: 768px){
    body{
        width: auto;
    }
   ul li{
    display: inline;
    background:none ;
    margin: 10px;
   }
   ul div{
    display: none;
   }
   .sidenavbar{
    display: inline; 
    width:360px;
    height: 30px;
    background-color: #222;
   }
   .firstpage h1{
    padding-top: 30%;
    }
    .firstpage{
        height: 100vh;
        background-position: cover;
        background-size: cover;
    }
     hr{
        display: none;
    }
    .third-content{
        background-color: #222;
        height: 20%;
        width: 80%;
        margin-left: 15%;
    }
    .container{
        justify-content: space-around;
        font-size: 12px;
        padding-top: 5%;
    }
    button{
        margin-top: 50px;
        background-color: #222;
        border: none;
        color: whitesmoke;
        width: 150px;
        height: 50px;  
    }
   
    .box-container{
        margin-left: 15%;
        display: block;
    }
    .box1{
        height: 45vh;
        width: 70%;
        display: block;
    }
    .box2{
        padding-top: 40%;
        height: 45vh;
        width: 70%;
    }
    .head{
        background-color: #222;
        height: 15%;
        width: 100%;
    }
    ul .u,.money,.s{
        display: block;
        width: 90%;
    }  
    .money{
        height: 30px;
        color: black;
    } 
    .button-container{
        background: none;
        height: 15px;
    }
    .btn{
        margin-left: -1%;
        height: 30px;
        width: 70px;
    }
    .recomendation{
        padding-top: 15%;
    }
    .content1{
        width: 200px;
    }
    .grid{
        height: auto;
        width: auto ;
        margin-top: 70px;
        display: block;
        border: none;
    }
    .image2{
        display: block !important;
    }
    .image4{
        display: block !important;
    }
    .lastpage{
        height: 150vh;
       
    }
    .shoes{
        margin-left: 5%;
        height: fit-content;
    }
    .item1{
        width: 300px !important;
    }
    .item2{
        width: 300px !important;
    }
    .item3{
        width: 300px !important;
    }
    .item4{
        width: 300px !important;
    }
    .item5{
        width: 300px !important;
    }
    .item6{
        width: 300px !important;
    }


   


  
}





